* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: 'Montserrat-Regular';
  font-weight: normal;
  font-style: normal;
  src: url('/fonts/Montserrat-Regular.woff2');
}
